body,
html {
  margin: 0;
  box-sizing: border-box;
}

.app {
  background: rgb(66, 127, 196);
  color: white;
  font-family: monospace;
  display: flex;
  flex-wrap: wrap;
  .album {
    width: 22%;
    padding: 10px;
    margin-bottom: 20px;
    .info {
      font-size: 10px;
      word-break: break-all;
    }
    .cover {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
}
